/* the wallet button in the nav */
.wallet-adapter-button:not(
    .wallet-adapter-modal-wrapper .wallet-adapter-button
  ) {
  border-radius: 12px;
  color: rgb(3, 255, 36);
  background-color: rgba(0, 255, 0, 0.15);
}

/* the wallet selection modal */
.wallet-adapter-modal-wrapper {
  border: 1px solid #072713;
  background-color: #171717;

  .wallet-adapter-modal-button-close {
    background-color: #171717;
  }

  .wallet-adapter-modal-list .wallet-adapter-button {
    span {
      color: #03ff24;
    }

    &:hover {
      background-color: #262626;
    }
  }
}

/* the wallet button dropdown */
.wallet-adapter-dropdown-list {
  .wallet-adapter-dropdown-list-item:hover {
    background-color: #262626;
  }

  border: 1px solid #072713;
}
