/* Change color of scroll bar on .advanced-output elements so that we can see it */

/* WebKit-based browsers (Chrome, Edge, Safari) */
.advanced-output::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.advanced-output::-webkit-scrollbar-thumb {
  background-color: #00570b; /* Scrollbar color */
  border-radius: 4px; /* Rounded corners */
}

.advanced-output::-webkit-scrollbar-track {
  background: transparent; /* Track color */
  margin-right: 4px; /* Adds padding between the track and container edge */
}

/* Firefox */
.advanced-output {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #00570b transparent; /* Scrollbar color and track color */
}
